/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'edmondsansbold';
  src: url("../fonts/edmondsans/edmondsans-bold-webfont.eot");
  src: url("../fonts/edmondsans/edmondsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/edmondsans/edmondsans-bold-webfont.woff") format("woff"), url("../fonts/edmondsans/edmondsans-bold-webfont.ttf") format("truetype"), url("../fonts/edmondsans/edmondsans-bold-webfont.svg#edmondsansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons/icons.eot");
  src: url("../fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/icons.woff") format("woff"), url("../fonts/icons/icons.ttf") format("truetype"), url("../fonts/icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Magnific Popup CSS */
/* line 73, ../scss/vendor/_magnific-popup.scss */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 90, ../scss/vendor/_magnific-popup.scss */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 503;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

/* line 102, ../scss/vendor/_magnific-popup.scss */
.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 117, ../scss/vendor/_magnific-popup.scss */
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 125, ../scss/vendor/_magnific-popup.scss */
.mfp-align-top .mfp-container:before {
  display: none;
}

/* line 130, ../scss/vendor/_magnific-popup.scss */
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505;
}

/* line 139, ../scss/vendor/_magnific-popup.scss */
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

/* line 145, ../scss/vendor/_magnific-popup.scss */
.mfp-ajax-cur {
  cursor: progress;
}

/* line 149, ../scss/vendor/_magnific-popup.scss */
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* line 154, ../scss/vendor/_magnific-popup.scss */
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

/* line 160, ../scss/vendor/_magnific-popup.scss */
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

/* line 167, ../scss/vendor/_magnific-popup.scss */
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 174, ../scss/vendor/_magnific-popup.scss */
.mfp-loading.mfp-figure {
  display: none;
}

/* line 179, ../scss/vendor/_magnific-popup.scss */
.mfp-hide {
  display: none !important;
}

/* line 190, ../scss/vendor/_magnific-popup.scss */
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504;
}

/* line 201, ../scss/vendor/_magnific-popup.scss */
.mfp-preloader a {
  color: #cccccc;
}

/* line 204, ../scss/vendor/_magnific-popup.scss */
.mfp-preloader a:hover {
  color: white;
}

/* line 209, ../scss/vendor/_magnific-popup.scss */
.mfp-s-ready .mfp-preloader {
  display: none;
}

/* line 214, ../scss/vendor/_magnific-popup.scss */
.mfp-s-error .mfp-content {
  display: none;
}

/* line 221, ../scss/vendor/_magnific-popup.scss */
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506;
}

/* line 231, ../scss/vendor/_magnific-popup.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 238, ../scss/vendor/_magnific-popup.scss */
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
/* line 257, ../scss/vendor/_magnific-popup.scss */
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}
/* line 261, ../scss/vendor/_magnific-popup.scss */
.mfp-close:active {
  top: 1px;
}

/* line 265, ../scss/vendor/_magnific-popup.scss */
.mfp-close-btn-in .mfp-close {
  color: #333333;
}

/* line 269, ../scss/vendor/_magnific-popup.scss */
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

/* line 278, ../scss/vendor/_magnific-popup.scss */
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}

/* line 289, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow {
  position: absolute;
  top: 0;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 301, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow:active {
  margin-top: -54px;
}

/* line 305, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

/* line 314, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: solid transparent;
}
/* line 328, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  opacity: 0.8;
  border-top-width: 12px;
  border-bottom-width: 12px;
  top: 8px;
}
/* line 336, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 20px;
  border-bottom-width: 20px;
}

/* line 343, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow-left {
  left: 0;
}
/* line 347, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 12px solid black;
  left: 5px;
}
/* line 352, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  border-right: 20px solid white;
}

/* line 357, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow-right {
  right: 0;
}
/* line 360, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 12px solid black;
  left: 3px;
}
/* line 365, ../scss/vendor/_magnific-popup.scss */
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 20px solid white;
}

/* line 375, ../scss/vendor/_magnific-popup.scss */
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 379, ../scss/vendor/_magnific-popup.scss */
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

/* line 384, ../scss/vendor/_magnific-popup.scss */
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

/* line 390, ../scss/vendor/_magnific-popup.scss */
.mfp-iframe-scaler iframe {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}

/* line 399, ../scss/vendor/_magnific-popup.scss */
.mfp-iframe-holder .mfp-close {
  top: -43px;
}

/* Main image in popup */
/* line 412, ../scss/vendor/_magnific-popup.scss */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
/* line 426, ../scss/vendor/_magnific-popup.scss */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* line 439, ../scss/vendor/_magnific-popup.scss */
.mfp-figure {
  line-height: 0;
}

/* line 442, ../scss/vendor/_magnific-popup.scss */
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

/* line 450, ../scss/vendor/_magnific-popup.scss */
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
}

/* line 456, ../scss/vendor/_magnific-popup.scss */
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

/* line 462, ../scss/vendor/_magnific-popup.scss */
.mfp-image-holder .mfp-content {
  max-width: 100%;
}

/* line 466, ../scss/vendor/_magnific-popup.scss */
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  /* line 477, ../scss/vendor/_magnific-popup.scss */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 481, ../scss/vendor/_magnific-popup.scss */
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  /* The shadow behind the image */
  /* line 485, ../scss/vendor/_magnific-popup.scss */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  /* line 490, ../scss/vendor/_magnific-popup.scss */
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 501, ../scss/vendor/_magnific-popup.scss */
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  /* line 504, ../scss/vendor/_magnific-popup.scss */
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  /* line 508, ../scss/vendor/_magnific-popup.scss */
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }

  /* line 519, ../scss/vendor/_magnific-popup.scss */
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
}
@media all and (max-width: 800px) {
  /* line 532, ../scss/vendor/_magnific-popup.scss */
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  /* line 536, ../scss/vendor/_magnific-popup.scss */
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  /* line 540, ../scss/vendor/_magnific-popup.scss */
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  /* line 544, ../scss/vendor/_magnific-popup.scss */
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* line 555, ../scss/vendor/_magnific-popup.scss */
.mfp-ie7 .mfp-img {
  padding: 0;
}
/* line 558, ../scss/vendor/_magnific-popup.scss */
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
/* line 565, ../scss/vendor/_magnific-popup.scss */
.mfp-ie7 .mfp-container {
  padding: 0;
}
/* line 568, ../scss/vendor/_magnific-popup.scss */
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
/* line 571, ../scss/vendor/_magnific-popup.scss */
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/* icons */
/* line 14, ../scss/style.scss */
.icon-itunes:before, .icon-facebook:before, .icon-spotify:before, .icon-twitter:before, .icon-youtube:before, .icon-soundcloud:before, .icon-tumblr:before, .icon-instagram:before {
  font-family: 'icons';
}

/* line 28, ../scss/style.scss */
.icon-itunes:before {
  content: "\e001";
}

/* line 34, ../scss/style.scss */
.icon-facebook:before {
  content: "\e002";
}

/* line 40, ../scss/style.scss */
.icon-spotify:before {
  content: "\e003";
}

/* line 46, ../scss/style.scss */
.icon-twitter:before {
  content: "\e004";
}

/* line 52, ../scss/style.scss */
.icon-youtube:before {
  content: "\e005";
}

/* line 58, ../scss/style.scss */
.icon-soundcloud:before {
  content: "\e006";
}

/* line 64, ../scss/style.scss */
.icon-tumblr:before {
  content: "\e007";
}

/* line 70, ../scss/style.scss */
.icon-instagram:before {
  content: "\e008";
}

/* line 78, ../scss/style.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

/* line 85, ../scss/style.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "edmondsansbold", sans-serif;
}

/* line 90, ../scss/style.scss */
img {
  width: 100%;
}

/* line 129, ../scss/style.scss */
.container {
  margin: 0 auto;
  max-width: 960px;
}
/* line 95, ../scss/style.scss */
.container:after {
  clear: both;
  content: '';
  display: table;
}

@media (min-width: 700px) {
  /* line 136, ../scss/style.scss */
  .col-1 {
    float: left;
    padding-right: 10px;
    width: 20%;
  }

  /* line 139, ../scss/style.scss */
  .col-2 {
    float: left;
    padding-right: 10px;
    width: 40%;
  }

  /* line 142, ../scss/style.scss */
  .col-3 {
    float: left;
    padding-right: 10px;
    width: 60%;
  }

  /* line 145, ../scss/style.scss */
  .col-4 {
    float: left;
    padding-right: 10px;
    width: 80%;
  }

  /* line 148, ../scss/style.scss */
  .col-5 {
    float: left;
    padding-right: 10px;
    width: 100%;
  }
}
/* line 153, ../scss/style.scss */
* {
  line-height: .5;
  padding: 0;
  margin: 0;
}

/* line 159, ../scss/style.scss */
a {
  text-decoration: none;
}
/* line 162, ../scss/style.scss */
a:hover, a:active {
  color: inherit;
}

/* Global Header */
/* line 177, ../scss/style.scss */
header {
  background-position: 50% 50%;
  background-image: url("../images/header.jpg");
  background-size: cover;
  border-bottom: 3px solid white;
  display: table;
  height: 300px;
  width: 100%;
  position: relative;
}
/* line 186, ../scss/style.scss */
header h1 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
/* line 191, ../scss/style.scss */
header h1 img {
  -webkit-transition: all 0.25s ease-out;
  width: 70%;
}
@media (min-width: 720px) {
  /* line 191, ../scss/style.scss */
  header h1 img {
    width: 45%;
  }
  /* line 196, ../scss/style.scss */
  header h1 img:hover {
    width: 50%;
  }
}
/* line 202, ../scss/style.scss */
header ul {
  width: 100%;
  position: absolute;
  left: 10px;
  top: 10px;
}
/* line 207, ../scss/style.scss */
header ul li {
  display: inline;
}
/* line 211, ../scss/style.scss */
header a {
  color: white;
}
/* line 213, ../scss/style.scss */
header a:hover {
  color: white;
}
/* line 217, ../scss/style.scss */
header .header-menu {
  background: black;
  text-align: center;
  top: auto;
  left: 0;
  bottom: 20px;
  padding: 5px 0;
  text-transform: uppercase;
}
@media (min-width: 720px) {
  /* line 217, ../scss/style.scss */
  header .header-menu {
    display: inline-block;
    width: 20%;
    bottom: 0;
  }
}
/* line 230, ../scss/style.scss */
header .header-menu li {
  padding: 0 10px;
}
@media (min-width: 720px) {
  /* line 230, ../scss/style.scss */
  header .header-menu li {
    display: none;
  }
  /* line 234, ../scss/style.scss */
  header .header-menu li.home {
    display: inline;
  }
}

/* Homepage */
@media (min-width: 720px) {
  /* line 244, ../scss/style.scss */
  .nav-content {
    display: table;
    float: left;
    width: 100%;
  }
  /* line 253, ../scss/style.scss */
  .nav-content.single-column {
    width: 20%;
  }
  /* line 255, ../scss/style.scss */
  .nav-content.single-column a {
    width: 100%;
  }
}
/* line 260, ../scss/style.scss */
.nav-content .column {
  display: table;
}
@media (min-width: 720px) {
  /* line 263, ../scss/style.scss */
  .nav-content .row {
    display: table-row;
  }
}
/* line 267, ../scss/style.scss */
.nav-content .row div {
  position: relative;
}
@media (min-width: 720px) {
  /* line 267, ../scss/style.scss */
  .nav-content .row div {
    background-position: 50% 50%;
    background-size: cover;
    border: 3px solid white;
    position: relative;
  }
}
/* line 280, ../scss/style.scss */
.nav-content .row div:first-child {
  border-left: none;
}
/* line 283, ../scss/style.scss */
.nav-content .row div:last-child {
  border-right: none;
}
/* line 288, ../scss/style.scss */
.nav-content .row div,
.nav-content .row a {
  position: relative;
  z-index: 3;
}
@media (min-width: 720px) {
  /* line 288, ../scss/style.scss */
  .nav-content .row div,
  .nav-content .row a {
    display: table-cell;
    height: 160px;
    width: 20%;
  }
}
/* line 298, ../scss/style.scss */
.nav-content a {
  -webkit-transition: all 0.1s ease-out;
  background: black;
  color: white;
  display: block;
  letter-spacing: 10px;
  font-size: 40px;
  margin: 0 0 5px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
/* line 311, ../scss/style.scss */
.nav-content a:hover {
  color: white;
}
/* line 314, ../scss/style.scss */
.nav-content a.active {
  background: white;
  color: black;
}
/* line 317, ../scss/style.scss */
.nav-content a.active:hover {
  color: black;
}
@media (min-width: 720px) {
  /* line 298, ../scss/style.scss */
  .nav-content a {
    background: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }
  /* line 324, ../scss/style.scss */
  .nav-content a:hover {
    letter-spacing: 18px;
  }
  /* line 327, ../scss/style.scss */
  .nav-content a.active {
    background: rgba(255, 255, 255, 0.6);
  }
}
/* line 331, ../scss/style.scss */
.nav-content a.lightbox {
  background: none !important;
}

/* line 340, ../scss/style.scss */
.n-15 {
  background-image: url("../images/homepage/pics-15.jpg");
}

/* line 340, ../scss/style.scss */
.n-14 {
  background-image: url("../images/homepage/pics-14.jpg");
}

/* line 340, ../scss/style.scss */
.n-13 {
  background-image: url("../images/homepage/pics-13.jpg");
}

/* line 340, ../scss/style.scss */
.n-12 {
  background-image: url("../images/homepage/pics-12.jpg");
}

/* line 340, ../scss/style.scss */
.n-11 {
  background-image: url("../images/homepage/pics-11.jpg");
}

/* line 340, ../scss/style.scss */
.n-10 {
  background-image: url("../images/homepage/pics-10.jpg");
}

/* line 340, ../scss/style.scss */
.n-9 {
  background-image: url("../images/homepage/pics-9.jpg");
}

/* line 340, ../scss/style.scss */
.n-8 {
  background-image: url("../images/homepage/pics-8.jpg");
}

/* line 340, ../scss/style.scss */
.n-7 {
  background-image: url("../images/homepage/pics-7.jpg");
}

/* line 340, ../scss/style.scss */
.n-6 {
  background-image: url("../images/homepage/pics-6.jpg");
}

/* line 340, ../scss/style.scss */
.n-5 {
  background-image: url("../images/homepage/pics-5.jpg");
}

/* line 340, ../scss/style.scss */
.n-4 {
  background-image: url("../images/homepage/pics-4.jpg");
}

/* line 340, ../scss/style.scss */
.n-3 {
  background-image: url("../images/homepage/pics-3.jpg");
}

/* line 340, ../scss/style.scss */
.n-2 {
  background-image: url("../images/homepage/pics-2.jpg");
}

/* line 340, ../scss/style.scss */
.n-1 {
  background-image: url("../images/homepage/pics-1.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-12 {
  background-image: url("../images/gallery/small/12.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-11 {
  background-image: url("../images/gallery/small/11.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-10 {
  background-image: url("../images/gallery/small/10.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-9 {
  background-image: url("../images/gallery/small/9.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-8 {
  background-image: url("../images/gallery/small/8.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-7 {
  background-image: url("../images/gallery/small/7.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-6 {
  background-image: url("../images/gallery/small/6.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-5 {
  background-image: url("../images/gallery/small/5.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-4 {
  background-image: url("../images/gallery/small/4.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-3 {
  background-image: url("../images/gallery/small/3.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-2 {
  background-image: url("../images/gallery/small/2.jpg");
}

/* line 348, ../scss/style.scss */
.lightbox.n-1 {
  background-image: url("../images/gallery/small/1.jpg");
}

/* line 363, ../scss/style.scss */
.n-1,
.n-2,
.n-3,
.n-5,
.n-6,
.n-7,
.n-11,
.n-12,
.n-13,
.n-15 {
  filter: url(../svg/filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
}

/* Gallery */
/* line 369, ../scss/style.scss */
.nav-content.popup-gallery {
  /* nav content overrides */
}
/* line 371, ../scss/style.scss */
.nav-content.popup-gallery div {
  display: none;
}
@media (min-width: 720px) {
  /* line 371, ../scss/style.scss */
  .nav-content.popup-gallery div {
    display: table-cell;
  }
}
/* line 377, ../scss/style.scss */
.nav-content.popup-gallery .row {
  display: block;
}
@media (min-width: 720px) {
  /* line 377, ../scss/style.scss */
  .nav-content.popup-gallery .row {
    display: table-row;
  }
}
/* line 383, ../scss/style.scss */
.nav-content.popup-gallery div.lightbox {
  filter: none;
  -webkit-filter: none;
  display: block;
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 720px) {
  /* line 383, ../scss/style.scss */
  .nav-content.popup-gallery div.lightbox {
    display: table-cell;
    width: 20%;
  }
}
/* line 394, ../scss/style.scss */
.nav-content.popup-gallery div.lightbox a {
  display: block !important;
  width: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  background: none;
}

/* video */
/* line 407, ../scss/style.scss */
.nav-content.single-column {
  display: none;
}
@media (min-width: 720px) {
  /* line 407, ../scss/style.scss */
  .nav-content.single-column {
    display: table;
  }
}

/* line 414, ../scss/style.scss */
.music-player-wrapper,
.video-player-wrapper,
.about-content {
  height: 500px;
  width: 100%;
}
@media (min-width: 720px) {
  /* line 414, ../scss/style.scss */
  .music-player-wrapper,
  .video-player-wrapper,
  .about-content {
    float: left;
    padding: 5px;
    width: 80%;
  }
}

/* line 424, ../scss/style.scss */
.video-player, .about-note {
  background: black;
  height: 100%;
}
