/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../scss/style.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

/* line 17, ../scss/style.scss */
img {
  width: 100%;
}

/* line 45, ../scss/style.scss */
.container {
  margin: 0 auto;
  max-width: 960px;
}
/* line 22, ../scss/style.scss */
.container:after {
  clear: both;
  content: '';
  display: table;
}

@media (min-width: 700px) {
  /* line 52, ../scss/style.scss */
  .col-1 {
    float: left;
    padding-right: 10px;
    width: 20%;
  }

  /* line 55, ../scss/style.scss */
  .col-2 {
    float: left;
    padding-right: 10px;
    width: 40%;
  }

  /* line 58, ../scss/style.scss */
  .col-3 {
    float: left;
    padding-right: 10px;
    width: 60%;
  }

  /* line 61, ../scss/style.scss */
  .col-4 {
    float: left;
    padding-right: 10px;
    width: 80%;
  }

  /* line 64, ../scss/style.scss */
  .col-5 {
    float: left;
    padding-right: 10px;
    width: 100%;
  }
}
/* line 69, ../scss/style.scss */
* {
  line-height: .5;
  padding: 0;
  margin: 0;
}

/* Homepage */
@media (min-width: 480px) {
  /* line 76, ../scss/style.scss */
  .home-content {
    display: table;
    width: 100%;
  }
}
@media (min-width: 480px) {
  /* line 81, ../scss/style.scss */
  .home-content .row {
    display: table-row;
  }
}
/* line 86, ../scss/style.scss */
.home-content .row div {
  display: none;
}
@media (min-width: 480px) {
  /* line 86, ../scss/style.scss */
  .home-content .row div {
    background-position: 50% 50%;
    background-image: url("http://placekitten.com/g/200/160");
    height: 160px;
  }
}
/* line 94, ../scss/style.scss */
.home-content a {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 480px) {
  /* line 103, ../scss/style.scss */
  .home-content .row div,
  .home-content a {
    display: table-cell;
    width: 20%;
  }
}
