/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "fonts";
@import "vendor/magnific-popup";

$white: #fff;

/* icons */

%icon {
	font-family: 'icons';
}

$icon-itunes: '\e001';
$icon-facebook: '\e002';
$icon-spotify: '\e003';
$icon-twitter: '\e004';

.icon-itunes {
	&:before {
		@extend %icon;
		content: $icon-itunes;
	}
}
.icon-facebook {
	&:before {
		@extend %icon;
		content: $icon-facebook;
	}
}
.icon-spotify {
	&:before {
		@extend %icon;
		content: $icon-spotify;
	}
}
.icon-twitter {
	&:before {
		@extend %icon;
		content: $icon-twitter;
	}
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'edmondsansbold', sans-serif;
}

img {
	width: 100%;
}

@mixin mm-clearfix {
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}

@mixin mm-bw {
	filter: url(../svg/filters.svg#grayscale); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
@mixin mm-no-bw {
	filter: none;
	-webkit-filter: none;
}

$grid-width: 960px;
$width-wide: 720px;
$gutter: 10px;
$columns: 5;

@mixin mm-col($i) {
	float: left;
	padding-right: $gutter;
	width: $i/$columns*100%;
}

@mixin mm-break($i) {
	@media (min-width: $i+px) {
		@content;
	}
}

.container {
	@include mm-clearfix;
	margin: 0 auto;
	max-width: $grid-width;
}

@include mm-break(700) {
	.col-1 {
		@include mm-col(1);
	}
	.col-2 {
		@include mm-col(2);
	}
	.col-3 {
		@include mm-col(3);
	}
	.col-4 {
		@include mm-col(4);
	}
	.col-5 {
		@include mm-col(5);
	}
}

* {
	line-height: .5;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	&:hover,
	&:active {
		color: inherit;
	}
}

@mixin overlay {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Global Header */
header {
	background-position: 50% 50%;
	background-image: url('../images/header.jpg');
	background-size: cover;
	border-bottom: 3px solid $white;
	display: table;
	height: 300px;
	width: 100%;
	position: relative;
	h1 {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		img {
			-webkit-transition: all .25s ease-out;
			width: 70%;
			@media (min-width: $width-wide) {
				width: 45%;
				&:hover {
					width: 50%;
				}
			}
		}
	}
	ul {
		width: 100%;
		position: absolute;
		left: 10px;
		top: 10px;
		li {
			display: inline;
		}
	}
	a {
		color: $white;
		&:hover {
			color: $white;
		}
	}
	.header-menu {
		background: black;
		text-align: center;
		top: auto;
		left: 0;
		bottom: 20px;
		padding: 5px 0;
		text-transform: uppercase;
		@media (min-width: $width-wide) {
			display: inline-block;
			width: 1/5*100%;
			bottom: 0;
		}
		li {
			padding: 0 10px;
			@media (min-width: $width-wide) {
				display: none;
				&.home {
					display: inline;
				}
			}
		}
	}
}


/* Homepage */
.nav-content {
	@media (min-width: $width-wide) {
		display: table;
		float: left;
		// padding-right: $gutter;
		// width: 1/5*100%;
		// &.homepage-nav {
			width: 100%;
		// }
		&.single-column {
			width: 1/5*100%;
			a {
				width: 100%;
			}
		}
	}
	.column {
		display: table;
	}
	.row {
		@media (min-width: $width-wide) {
			display: table-row;
		}
		div {
			// @include mm-bw;
			// -webkit-transition: all .2s;
			position: relative;
			@media (min-width: $width-wide) {
				background-position: 50% 50%;
				background-size: cover;
				border: 3px solid $white;
				position: relative;
			}
			// &:hover {
			// 	@include mm-no-bw;
			// }
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
		div,
		a {
			position: relative;
			z-index: 3;
			@media (min-width: $width-wide) {
				display: table-cell;
				height: 160px;
				width: 1/5*100%;
			}
		}
	}
	a {
		-webkit-transition: all .1s ease-out;
		background: black;
		color: white;
		display: block;
		letter-spacing: 10px;
		font-size: 40px;
		margin: 0 0 5px;
		padding: 10px 0;
		text-align: center;
		text-transform: uppercase;
		vertical-align: middle;
		width: 100%;
		&:hover {
			color: white;
		}
		&.active {
			background: white;
			color: black;
			&:hover {
				color: black;
			}
		}
		@media (min-width: $width-wide) {
			background: rgba(black, .6);
			font-size: 14px;
			&:hover {
				letter-spacing: 18px;
			}
			&.active {
				background: rgba(white, .6);
			}
		}
		&.lightbox {
			background: none !important;
		}
	}
}


$homepage-photos: 15;
@while $homepage-photos > 0 {
	.n-#{$homepage-photos} {
		background-image: url('../images/homepage/pics-#{$homepage-photos}.jpg');
	}
	$homepage-photos: $homepage-photos - 1;
}

$gallery-photos: 12;
@while $gallery-photos > 0 {
	.lightbox.n-#{$gallery-photos} {
		background-image: url('../images/gallery/small/#{$gallery-photos}.jpg');
	}
	$gallery-photos: $gallery-photos - 1;
}

.n-1,
.n-2,
.n-3,
.n-5,
.n-6,
.n-7,
.n-11,
.n-12,
.n-13,
.n-15 {
	@include mm-bw;
}


/* Gallery */
.nav-content.popup-gallery {
	/* nav content overrides */
	div {
		display: none;
		@media (min-width: $width-wide) {
			display: table-cell;
		}
	}
	.row {
		display: block;
		@media (min-width: $width-wide) {
			display: table-row;
		}
	}
	div.lightbox {
		@include mm-no-bw;
		display: block;
		height: 160px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		@media (min-width: $width-wide) {
			display: table-cell;
			width: 1/5*100%;
		}
		a {
			display: block !important;
			width: 100% !important;
			position: absolute !important;
			top: 0;
			left: 0;
			height: 100%;
			background: none;
		}
	}
}

/* video */
.nav-content.single-column {
	display: none;
	@media (min-width: $width-wide) {
		display: table;
	}
}
.video-player-wrapper {
	height: 500px;
	width: 100%;
	@media (min-width: $width-wide) {
		float: left;
		padding: 5px;
		width: 4/5*100%;
	}
}

.video-player {
	background: black;
	height: 100%;
}

.about-content {
	@extend .video-player-wrapper;
}
.about-note {
	@extend .video-player;
}